:host {
    display: block;
}

.bg-gray-100 { background-color: #f3f4f6; }
.bg-white { background-color: #ffffff; }

/* Layout Utilities */
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.flex { display: flex; }
.flex-1 { flex: 1 1 0%; }
.flex-none { flex: none; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.text-center { text-align: center; }

/* Spacing */
.pt-10 { padding-top: 2.5rem; }
.p-4 { padding: 1rem; }
.mx-auto { margin-left: auto; margin-right: auto; }
.mx-4 { margin-left: 1rem; margin-right: 1rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-6 { margin-bottom: 1.5rem; }
.mb-16 { margin-bottom: 4rem; }
.mt-4 { margin-top: 1rem; }
.mt-12 { margin-top: 3rem; }
.-mt-14 { margin-top: -3.5rem; }

/* Typography */
.font-bold { font-weight: 700; }
.font-semibold { font-weight: 600; }
.text-3xl { font-size: 1.875rem; line-height: 2.25rem; }
.text-lg { font-size: 1.125rem; line-height: 1.75rem; }
.text-sm { font-size: 16px; line-height: 24px; }

/* Visuals */
.rounded-xl { border-radius: 0.75rem; }
.rounded-full { border-radius: 9999px; }
.border { border: 1px solid #e5e7eb; }
.drop-shadow-sm { filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05)); }
.h-20 { height: 5rem; }
.w-20 { width: 5rem; }
.w-two-3rd { width: 66.666667%; }


/* Image styling (the plus icon) */
.inline {
    display: inline;
}

.w-8 {
    width: 2rem; /* 32px based on your computed 8-unit scale */
    height: auto;
    vertical-align: middle;
}

.py-10 {
    padding-top: 2.5rem;    /* 40px */
    padding-bottom: 2.5rem; /* 40px */
}

/* Brand Colors */
.bg-abc-yellow { background-color: #f4ba07 }
.bg-abc-purple { background-color: #7558de; }
.bg-abc-green { background-color: #339e5b }

/* Button Style */
.btn-primary {
    display: inline-block;
    padding: 0.625rem 1.5rem;
    background-color: white;
    border: 2px solid #007cba !important;/* Example primary color */
    border-radius: 9999px;
	font-size: 16px;
	font-weight: 600;
    text-decoration: none !important;
    color: #007cba !important;
    transition: all 0.2s;
	line-height: 1.5;
}

.btn-primary:active {
	border: 2px solid #005f8e !important;
	background-color: #005f8e !important;
	color: #fff !important;
}

/* Responsive Queries */
@media (min-width: 1024px) { /* 768px */
    .md-flex { display: flex; }
    .md-pt-14 { padding-top: 3.5rem; }
    .md-text-4xl { font-size: 2.25rem; line-height: 2.5rem; }
    .md-mt-0 { margin-top: 0px; }
    .md-py-2.5 { padding-top: 0.625rem; padding-bottom: 0.625rem; }
    .items-center {
        display: flex;
        align-items: center;
    }
}